################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mynetstdlib/.vs/SoKittens/v16/Server/sqlite3
/mynetstdlib/.vs/SoKittens/v16/TestStore/0
/mynetstdlib/.vs/SoKittens
